<div class="menu">
  <img src="assets/logo.jpg" alt="" class="menu-img">
  <h2>Rezepten</h2>
  <h2>Zutaten</h2>
</div>
<div class="main-image">
  <div class="container">
      <h1><span>Bio & Frische</span></h1>
  </div>
  <div class="overlay"></div>
</div>


<div class="recipes-section">
  <div class="recipes-text">
    <h1>UNSERE REZEPTE</h1>
    <P>Unsere Rezepte werden aus frischen Zutaten hergestellt, die mit Liebe angebaut und geerntet werden.</P>
  </div>

  <div class="recipes-grid">
    <app-recipe-card *ngFor="let recipe of recipes" [recipe]="recipe"></app-recipe-card>
  </div>

</div>

<div class="ingredients-section">
  <div class="ingredients-text">
    <h1>UNSERE ZUTATEN</h1>
    <P>Die frischesten Zutaten, vom Feld auf den Tisch</P>
  </div>

  <div class="ingredients-grid">
    <app-ingredient-card *ngFor="let ingredient of ingredients" [ingredient]="ingredient"></app-ingredient-card>
  </div>

</div>

<app-footer>
  
</app-footer>
